<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/nav.ejs') %>

<div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
        <p style="white-space: pre-line;"><%= blog.body %></p>
    </div>
    <a class="delete" data-doc="<%=blog._id%>">delete</a>
</div>
<%- include('./partials/footer.ejs')%>
<script>
    //get delete button
    const trashcan = document.querySelector('a.delete');
    //add event listener to button
    trashcan.addEventListener('click', e => {
        //dataset refers to data attribute ,the doc refers to whatever comes after that
        const endpoint = `/blogs/${trashcan.dataset.doc}`;
        fetch(endpoint, {
            method: 'DELETE'
        })
        .then(response => response.json())
            //redirect to /blogs - refer to res.json in app.js
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
    })
</script>
</body>
</html>